PROJECT_NAME="Starnavi FastAPI API"
DATABASE_URL="sqlite:///./starnavi_fastapi.db"
GEMINI_API_KEY="GEMINI_API_KEY"
SECRET_KEY="your_strong_secret"
ALGORITHM="ALGORITHM"
ACCESS_TOKEN_EXPIRE_MINUTES=3500
